*{
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-color: rgb(243, 243, 243);
}
.exercise{
    background-color: #fff;
    width: 90vw;
    margin: 1.5vw auto;
    box-shadow: 0px 0px 10px -2px rgb(141, 141, 141);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.exercise h3{
    margin: 10px 0 10px 0;
}
.exercise p{
    font-style: italic;
    margin: 10px 0 10px 0;
}
#lista{
    margin: 3px;
}
h5{
    margin: 10px 0 10px 0;
}
h1{
    text-align: center;
}
.card {
    width: 50%;
    border: 2px solid rgb(167, 167, 167);
    flex-direction: column;
    justify-content: center;
    margin: 1vw auto;
    border-radius: 10px;
    padding: 0;
}
.card img{
    width: 100%;
}
.card p{
    padding: 6px;
    font-size: 20px;
    text-align: center;
}
.cardContainer{
    width: 100%;
}